In [1]:
import pandas as pd
import numpy as np

In [2]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

### Practice

In [5]:
# 1. load the above data into a dataframe
# 2. replace the NA value in 'score' to 10

In [9]:
df = pd.DataFrame(exam_data)
df['score'] = df['score'].replace(np.nan, 10)

In [11]:
print(df)

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James   10.0         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura   10.0         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

### 1. apply()