In [1]:
import pandas as pd
import numpy as np

In [3]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

### Practice

In [4]:
# 1. load the above data into a dataframe
# 2. replace the NA value in 'score' to 10
# 3. drop 'qualify' column

In [5]:
df = pd.DataFrame(exam_data)
df['score'] = df['score'].replace(np.nan, 10)
df = df.drop(['qualify'], axis = 1)

In [6]:
print(df)

        name  score  attempts
0  Anastasia   12.5         1
1       Dima    9.0         3
2  Katherine   16.5         2
3      James   10.0         3
4      Emily    9.0         2
5    Michael   20.0         3
6    Matthew   14.5         1
7      Laura   10.0         1
8      Kevin    8.0         2
9      Jonas   19.0         1

### 1. apply()

In [7]:
# recreate the qualify column, if score > 10, yes, if score <= 10, no
# first approach, write a customized function
def if_qualify(score):
    if score > 10:
        return 'yes'
    return 'no'

In [8]:
df['score'].apply(if_qualify)

0    yes
1     no
2    yes
3     no
4     no
5    yes
6    yes
7     no
8     no
9    yes
Name: score, dtype: object

In [9]:
df['qualify'] = df['score'].apply(if_qualify)
print(df)

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James   10.0         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura   10.0         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

In [10]:
df = df.drop(['qualify'], axis = 1)

In [11]:
# second approach, use lambda function
df['score'].apply(lambda x: 'yes' if x > 10 else 'no')

0    yes
1     no
2    yes
3     no
4     no
5    yes
6    yes
7     no
8     no
9    yes
Name: score, dtype: object

In [12]:
df['qualify'] = df['score'].apply(lambda x: 'yes' if x > 10 else 'no')
print(df)

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James   10.0         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura   10.0         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

### groupby()

In [13]:
# find out the mean score of the group qualifies and that not
df.groupby('qualify')['score'].mean()

qualify
no      9.2
yes    16.5
Name: score, dtype: float64

In [14]:
# find out the mean by grouping attempts












df.groupby('attempts')['score'].mean()

attempts
1    14.000000
2    11.166667
3    13.000000
Name: score, dtype: float64

In [15]:
# groupby 2 keys
df.groupby(['qualify','attempts'])['score'].mean()

qualify  attempts
no       1           10.000000
         2            8.500000
         3            9.500000
yes      1           15.333333
         2           16.500000
         3           20.000000
Name: score, dtype: float64

### aggregation

In [16]:
df.groupby('qualify').agg(
    {
        'score' : ['min', 'max', 'mean', 'std'],
        'name' : 'count'
    }
)

        score                        name
          min   max  mean       std count
qualify
no        8.0  10.0   9.2  0.836660     5
yes      12.5  20.0  16.5  3.102418     5

In [17]:
my_dict =     {
        'score' : ['min', 'max', 'mean', 'std'],
        'name' : 'count'
    }
df.groupby('qualify').agg(my_dict)

        score                        name
          min   max  mean       std count
qualify
no        8.0  10.0   9.2  0.836660     5
yes      12.5  20.0  16.5  3.102418     5

In [26]:
df.groupby('qualify').agg(
    min_score = ('score', 'min'),
    max_score = ('score', 'max'),
)

         min_score  max_score
qualify
no             8.0       10.0
yes           12.5       20.0

In [19]:
pd.__version__

'0.25.2'

In [34]:
# count the number of scores greater than 6














df[df['score'] > 6]['score'].agg('count')

10

In [36]:
# count the number of scores greater than 6 for those who qualify
















df[df['score'] > 6].groupby('qualify')['score'].agg('count')

qualify
no     5
yes    5
Name: score, dtype: int64